In [ ]:
#1
prices = [100, 200, 300]
tax = [10, 20, 30]
final_price=list(map((lambda x:x[0]+x[1]),zip(prices,tax)))
final_price

[110, 220, 330]

In [3]:
#2
names = ["A", "B", "C", "D"]
attendance = [80, 65, 90, 70]

filtered_students=list(filter(lambda x:x[1]>=75,zip(names,attendance)))
filtered_students

[('A', 80), ('C', 90)]

In [4]:
#3
scores = [45, 60, 30, 80, 90]

pass_stud=list(filter(lambda x: x>=50,scores))
print(len(pass_stud))

3

In [5]:
#4
cities = ["Dhaka", "Chittagong", "Dhaka", "Sylhet", "Sylhet"]
print("Unique cities are:",set(cities))

Unique cities are: {'Dhaka', 'Sylhet', 'Chittagong'}

In [9]:
#5
data = [(1, 10), (2, 5), (3, 8)]

sorted_data=sorted(data,key=lambda x:x[1],reverse=False)
sorted_data

[(2, 5), (3, 8), (1, 10)]

In [11]:
#6
values = [5, 10, 15, 20]

mn,mx=min(values),max(values)

norm_value=list(map((lambda x:(x-mn)/mx-mn),values))
norm_value

[-5.0, -4.75, -4.5, -4.25]

In [12]:
#7
marks = [70, 85, 90, 75]

print("Average:",sum(marks)/len(marks))

Average: 80.0

In [16]:
losses = [0.45, 0.2, 0.8, 0.3]

sorted_ls=sorted(losses)
print(sorted_ls[:2])

[0.2, 0.3]

In [17]:
#9
X = [1, 2, 3, 4]
y = [0, 1, 0, 1]

zipped=zip(X,y)

for idx,(x,y) in enumerate (zipped ):
    print(idx,x,y)

0 1 0
1 2 1
2 3 0
3 4 1

In [18]:
labels = [1, 2, 1, 3, 2, 1]

print("Number of unique levels:",len(set(labels)))

Number of unique levels: 3