In [1]:
print("Test Connection")

Test Connection

zip() combines multiple iterables element-by-element into tuples.

Combine features & labels

Mini-batch creation

In [7]:
nums=[i for i in range(1,11)]

print(sorted(nums,reverse=True))
nums.sort(reverse=True)
nums

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [13]:
names = ["Rahim", "Karim", "Sohel"]
scores = [85, 90, 85]

z = zip(names, scores)
print(list(z))

[('Rahim', 85), ('Karim', 90), ('Sohel', 85)]

In [14]:
X = [2, 4, 6]
y = [10, 20, 30]

for feature, label in zip(X, y):
    print(feature, label)

2 10
4 20
6 30

In [15]:
X = [[1, 2], [3, 4], [5, 6]]
y = [0, 1, 0]

for x, label in zip(X, y):
    print("Features:", x, "Label:", label)

Features: [1, 2] Label: 0
Features: [3, 4] Label: 1
Features: [5, 6] Label: 0

In [16]:
features = ["age", "salary", "experience"]
values = [25, 50000, 3]

data = dict(zip(features, values))
print(data)

{'age': 25, 'salary': 50000, 'experience': 3}

In [20]:
pairs = [('a', 1), ('b', 2), ('c', 3)]

letters, numbers = zip(*pairs)

print(letters)
print(numbers)

('a', 'b', 'c')
(1, 2, 3)

ðŸ”‘ Key Takeaways (Memorize)

zip() â†’ pairs values

enumerate() â†’ adds index

(name, score) â†’ tuple unpacking

In [21]:
names = ["A", "B", "C"]
scores = [90, 85, 88]

for i, (name, score) in enumerate(zip(names, scores)):
    print(i, name, score)

0 A 90
1 B 85
2 C 88

Practice Session

Print name + mark only for students whose marks are above class average.

In [28]:
names = ["A", "B", "C", "D"]
marks = [78, 85, 62, 90]

avg = sum(marks) / len(marks)

result = list(filter(lambda x: x[1] > avg, zip(names, marks)))
print(result)

[('B', 85), ('D', 90)]

Remove negative numbers

Square the remaining numbers

Store the result in a list

In [34]:
nums = [3, -2, 5, -7, 8, -1]

result = list(map(lambda x: x**2, filter(lambda x: x > 0, nums)))
print(result)

[9, 25, 64]

Find how many unique classes exist

Print each class and its count

In [36]:
labels = ["cat", "dog", "cat", "bird", "dog", "dog"]

unique = set(labels)
print("Number of classes:", len(unique))

for cls in unique:
    print(cls, labels.count(cls))

Number of classes: 3
dog 3
cat 2
bird 1

Sort features by importance (descending)

salary 0.4
age 0.25
education 0.2
experience 0.15

In [43]:
features = ["age", "salary", "experience", "education"]
importance = [0.25, 0.4, 0.15, 0.2]

result = sorted(
    zip(importance, features),
    key=lambda x: x[0],
    reverse=True
)

for score, feature in result:
    print(feature, score)

salary 0.4
age 0.25
education 0.2
experience 0.15

In [7]:
values = [120, 450, 300, 200, 500]

mx=max(values)
mn=min(values)

result=list(map(lambda x:x-mn,values))
print(result)

[0, 330, 180, 80, 380]

In [5]:
values = [120, 450, 300, 200, 500]

mn, mx = min(values), max(values)

normalized = list(map(lambda x: (x - mn) / (mx - mn), values))
print(normalized)

[0.0, 0.868421052631579, 0.47368421052631576, 0.21052631578947367, 1.0]

Remove students with scores < 70

Square remaining scores

Sort students by squared score (descending)

Print index, name, score

In [13]:
names = ["A", "B", "C", "D"]
scores = [70, 85, 60, 90]

students=sorted((map((lambda x:(x[0],x[1]**2)),filter(lambda x: x[1]>=70,zip(names,scores)))),key=lambda x:x[1],reverse=True)

for idx,(name,score) in enumerate(students):
    print(idx,name,score)

0 D 8100
1 B 7225
2 A 4900

In [12]:
names = ["A", "B", "C", "D"]
scores = [70, 85, 60, 90]

filtered = filter(lambda x: x[1] >= 70, zip(names, scores))
squared = map(lambda x: (x[0], x[1]**2), filtered)
sorted_result = sorted(squared, key=lambda x: x[1], reverse=True)

for i, (name, score) in enumerate(sorted_result):
    print(i, name, score)

0 D 8100
1 B 7225
2 A 4900

In [ ]:
names = ["A", "B", "C", "D"]
scores = [70, 85, 60, 90]

students = sorted(
    map(lambda x: (x[0], x[1] ** 2),
        filter(lambda x: x[1] > 70, zip(names, scores))
    ),
    key=lambda x: x[1],
    reverse=True
)

for idx, (name, score) in enumerate(students):
    print(idx, name, score)